<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Menu</title>
</head>
<body>
<div align="center">
    <h2>Customer Menu</h2>
    <a th:href="@{/subService/findAll}"> All subServices </a><br><br>
    <a th:href="@{/Service/findAll}"> All Services </a><br><br>
    <a th:href="@{/order/customerOrder}"> My Orders </a><br><br>
    <a th:href="@{/order/saveOrder}"> New Order </a><br><br>
    <a th:href="@{/order/acceptOrder}">Accept Order </a><br><br>
    <a th:href="@{/suggestion/OfAnOrder}">Suggestion Of an Order (show if OrderStatus is:
        "WaitingForCustomerToChooseASuggestion") </a><br><br>

</div>
</body>
</html>